

body {
    background-color: #f5f5eb;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bayan-block {
    width: 73vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bayan-container{
    width: 65vw;
}

.bayan-header-block {
    font-family: 'Tilt Neon', sans-serif;
    font-size: 30px;
}

.bayan-header {
    margin: 0;
}

.bayan-items-block {
    font-family: 'Tilt Neon', sans-serif;
    font-size: 1.2em;
}

.bayan-items-block {

}

.bayan-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}

.bayan-item-img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}


hr {
    
}

input {
  -webkit-appearance: none;
  appearance: none;

  position: absolute;
  width: 0;
  height: 0;
}

.mem {
    display: none;
}

.bayan-text {
    display: block;
    transition: 1s;
}

.bayan-text:hover {
    color: #2c41b6;
    cursor: pointer;
}

.bayan-input:checked + .mem {
    display: flex;
    height: 50vh;
    justify-content: center;
   
}

.bayan-input:hover + .mem {
    display: flex;
    height: 50vh;
    justify-content: center;
   
}

.bayan-input:checked + .bayan-item-img {
    transform: rotate(20deg);
    

}

.mem-img {

}

.bayan-title {
    display: flex;
    align-items: center;
    width: inherit;
    justify-content: space-between;
}

