

body {
    background-color: #f5f5eb;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bayan-block {
    width: 73vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bayan-container{
    width: 65vw;
}

.bayan-header-block {
    
}

.bayan-header {
    margin: 0;
    font-family: 'Tilt Neon', sans-serif;
    font-size: calc(15px + 25 * (100vw/1920))
}


.bayan-items-block {

}

.bayan-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    transition: 2s ease-out;
}

.bayan-item-img {
    height: 20px;
    width: 20px;
    cursor: pointer;
    display: none;
}


hr {
    
}

input {
  -webkit-appearance: none;
  appearance: none;

  position: absolute;
  width: 0;
  height: 0;
}

.mem {
    display: none;
    margin: 10px;
}


.bayan-text {
    display: block;
    cursor: pointer;
    font-family: 'Tilt Neon', sans-serif;
    font-size: calc(8px + 25 * (100vw/1920));
    
}

.bayan-title:hover {
    color: #2c41b6;
    cursor: pointer;
}

.bayan-input:checked ~ .mem {
    display: flex;
    justify-content: center;
   
}

.bayan-title:hover ~ .mem {
    display: flex;
    height: 50vh;
    justify-content: center;
   
}

.bayan-item.active + .bayan-item-img {
    transform: rotate(20deg);

}

.bayan-item:hover  .bayan-item-img {
    transform: rotate(45deg);

}


.mem-img {
    height: calc(150px + 180 * (100vw / 1920));
    width: calc(150px + 180 * (100vw / 1920));
}

.bayan-title {
    display: flex;
    align-items: center;
    width: inherit;
    justify-content: space-between;
    cursor: pointer;
}

.bayan-block:hover  .bayan-item-img {
    display: flex;
}

.bayan-input:checked ~ .bayan-title {
    color: #2c41b6;
}
